# -------------------------
# Python関連の除外
# -------------------------
# コンパイルされたPythonのバイトコードを除外
__pycache__/
*.pyc
.python-version

# -------------------------
# IDEおよびOS関連のファイル
# -------------------------
# VS Codeなどの設定ファイル（プロジェクト共通の設定以外）
.vscode/

# -------------------------
# dbt関連の除外
# -------------------------
# dbtの実行結果、ログ、コンパイル済みSQLなどが格納されるフォルダ
/dbt_models/target/
/dbt_models/logs/
/dbt_models/dbt_packages/
/dbt_models/dev/
/dbt_models/dist/

# dbtの環境設定ファイル（機密情報を含む可能性があるため）
/dbt_models/profiles.yml 
/dbt_models/.user.yml

# -------------------------
# dagsterの除外
# -------------------------
# dagsterの実行結果やログが格納されるフォルダ
/dagster_pj/.tmp*/
/dagster_pj/dagster_home/

# -------------------------
# duckdb配下の不要なフォルダ・ファイルの除外
# -------------------------
.duckdb_database/

# -------------------------
# ドキュメント関連の除外
# -------------------------


# -------------------------
# その他の除外
# -------------------------
# システム固有のファイル
.env