# docker-compose.yml
services:
  dbt:
    image: ships-pj/dbt:latest
    build:
        context: .
        dockerfile: Dockerfile
        target: development
    volumes:
      - .:/app
      - ./.duckdb_database:/app/.duckdb_database
      - duckdb_extensions:/root/.duckdb
    environment:
      - DBT_PROFILES_DIR=/app/dbt_models
    working_dir: /app/dbt_models
    tty: true
    stdin_open: true
    command: ["tail", "-f", "/dev/null"]
volumes:
  duckdb_extensions: